<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand">DYERB</h3>
        <nav>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#/">Compare</a></li>
            <li><a ng-click="" href="">About</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="inner cover" id='home'>
      <div ng-if="!data">
        <h1 class="cover-heading">Do You Even Rift, Bro?</h1>
        <p class="lead">We're your personal fitness tracker for your time on the rift</p>
        <p class="lead">
          <form name="searchForm" ng-submit='search()' layout="row" layout-sm="column" layout-align="space-around">
            <md-input-container required flex>
            <label>Summoner Name</label>
            <input required name="summonerName" ng-model="user.name" placeholder="">
            <div ng-messages="searchForm.summonerName.$error">
              <div ng-message="required">This is required.</div>
            </div>
            </md-input-container>
            <md-select required ng-model="user.region" placeholder="Region">
            <md-option value="NA" selected="selected">NA</md-option>
            <md-option value="EUW">EUW</md-option>
          </md-select>
          <md-button ng-click="selected=true">Search</md-button>
        </form>
        </p>
      </div>


      <div layout="row" layout-sm="column" layout-align="space-around" ng-if="loading">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>

      <div ng-if="data" class="lead">
        <div>
          <a href="" ng-repeat="match in data" ng-click="compareGame(match)">
            {{match.matchId}} |
          </a>
        </div>
        <div>
          <a href="" ng-repeat="stat in stats" ng-click="analyzeStat(undefined, stat)">
            {{stat}} |
          </a>
        </div>
        <div>
          <a href="" ng-if="!split" ng-click="analyzeStat(true)">
            Turn On Split
          </a>
        </div>
        <div>
          <a href="" ng-if="split" ng-click="analyzeStat(false)">
            Turn Off Split
          </a>
        </div>
        <div>
          Number of Games:<a href="" ng-repeat="num in [5,10,25,50,100]" ng-click="updateNumMatches(num);">
            {{num}}
          </a>
        </div>
          <canvas id="line" class="chart chart-line" data="lineData" labels="lineLabel" legend="true" series="lineSeries" click=""> </canvas>
        <div class='bar'>
          <canvas id="bar" class="chart chart-bar" data="wardData" series='series' labels="['Wards Placed']"></canvas>
        </div>
        <div class='bar'>
          <canvas id="bar" class="chart chart-bar" data="GPMData" series="series" labels="['Gold Per Minute']"></canvas>
        </div>
        <div class='bar'>
          <canvas id="bar" class="chart chart-bar" data="KDAData" series="series" labels="['KDA Ratio']"></canvas>
        </div>

      </div>
    </div>
    <div class="mastfoot">
          <!-- <p>Do You Even Rift Bro isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p> -->
        <div class="inner">
        </div>
      </div>
  </div> <!-- cover container -->
</div>  <!-- sitewrapper -->
